<mat-card>
	<div *ngIf="favouriteItem.type=='file'">
		<mat-card-header>
			<img mat-card-avatar src="/assets/images/file_icon.png" alt="File">
			<mat-card-title>{{favouriteItem.name}}</mat-card-title>
			<mat-card-subtitle>Item type: <strong>file</strong></mat-card-subtitle>
		</mat-card-header>
	</div>
	<div *ngIf="favouriteItem.type=='folder'">
		<mat-card-header>
			<img mat-card-avatar src="/assets/images/folder_icon.png" alt="Folder">
			<mat-card-title>{{favouriteItem.name}}</mat-card-title>
			<mat-card-subtitle>Item type: <strong>folder</strong></mat-card-subtitle>
		</mat-card-header>
	</div>
</mat-card>
